<h1>Listing elections</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
    </tr>

    <% @elections.each do |election| %>
        <tr>
            <td><%= election.title %></td>
            <td><%= election.text %></td>
        </tr>
    <% end %>
</table>
