<p>
    <strong>Title:</strong>
    <%= @election.title %>
</p>
<p>
    <strong>Text:</strong>
    <%= @election.text %>
</p>
<% for choice in @choices %>
    <p>
        <strong>Choice:</strong>
        <%= choice.body %>
    </p>
<% end %>

<%= link_to 'Back', elections_path %>
